/JAVA/Lección01/MundoPc/nbproject/private/
/JAVA/Lección01/MundoPc/build/
/GianniPasquinelli/JAVA/Nueva Carpeta/ArgumentosVariables/nbproject/private/
/GianniPasquinelli/JAVA/Nueva Carpeta/ArgumentosVariables/build/
/GianniPasquinelli/JAVA/Nueva Carpeta/Enumeraciones/nbproject/private/
/GianniPasquinelli/JAVA/Nueva Carpeta/Enumeraciones/build/
/GianniPasquinelli/JAVA/Nueva Carpeta/BloquesInicializacion/nbproject/private/
/GianniPasquinelli/JAVA/Nueva Carpeta/BloquesInicializacion/build/
/GianniPasquinelli/JAVA/Leccion03/ForEach/nbproject/private/
/GianniPasquinelli/JAVA/Leccion03/ForEach/build/
/GianniPasquinelli/JAVA/Leccion03/AutoboxingUnboxing/nbproject/private/
/GianniPasquinelli/JAVA/Leccion03/ModificadoresDeAcceso/nbproject/private/
/GianniPasquinelli/JAVA/Leccion03/ModificadoresDeAcceso/build/
