* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 50px;
  height: 100vh;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/8/86/Avatar_Aang.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}